<%- include menu.ejs%>





  <div class="shadow cajacentral well ">
    <form class="form-horizontal">
  <fieldset>
    <legend>Agregar Unidad</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Nombre de la Unidad </label>
      <div class="col-lg-10">
        <input class="form-control"  placeholder="Nombre de la Unidad" type="text">
      </div>
    </div>
  

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Direccion </label>
      <div class="col-lg-10">
        <textarea style="width: 409px; height: 193px;" class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Describa correctamente y completamente  la Direccion .</span>
      </div>
    </div>

     <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Telefono</label>
      <div class="col-lg-10">
        <input class="form-control"  placeholder="Telefono" type="text">
      </div>
    </div> 

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
         <button type="submit" class="btn btn-primary">Agregar</button>
        <button type="reset" class="btn btn-default">Cancelar</button>
        
      </div>
    </div>
  </fieldset>
</form>





    </div>


</body>



</html>