<%- include menu.ejs%>

  <div class="shadow cajacentral well ">
    <form class="form-horizontal" id="log" action="/agregarrs" method="post">
  <fieldset>
    <legend>Agregar Rol</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Nombre del Rol </label>
      <div class="col-lg-10">
        <input class="form-control"  placeholder="Nombre del Rol" type="text" name="nombr">
      </div>
    </div>
    
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Descripcion </label>
      <div class="col-lg-10">
        <textarea style="width: 409px; height: 193px;" class="form-control" rows="3" id="textArea" name="descres"></textarea>
        <span class="help-block">Describa correctamente y completamente  el Rol .</span>
      </div>
    </div>

 
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
         <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="/roles" class="btn btn-default" >Cancelar</a>
        
      </div>
    </div>
  </fieldset>
</form>





    </div>

    <script type="text/javascript" src="/../js/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){                      
            $("#log").validate({

                rules:{
                    "nombr":{
                      required:true,
                      minlength:3,
                      maxlength:50,},

                    
                      "descres":{
                        maxlength:200,

                      }

                   
                },
                messages: {
                    nombr:{
                        required:"Ingrese Nombre del Rol",
                        minlength:"Minimo una cadena de 3 letras",
                        maxlength:"Maximo una cadena de 30 letras",   
                    },
                    
                    descres:{
                        maxlength:"Maximo una cadena de 200 letras",  
                    }
                    
                }

            });
        });
    </script>



</body>



</html>