<%- include menu.ejs%>

<form action="/checa2" method="POST">




  <label><input type="checkbox" name="section" value="1" />ADM USUARIO</label>


<label><input type="checkbox" name="section" value="2"  />ADM ROLES</label>
  

  
<label><input type="checkbox" name="section" value="3" />ARM </label>


         <input type="hidden" name="mi" value="97797"  >
<input type="submit" value="Click" />
</form>
</body>



</html>