<%- include menu.ejs%>

   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates expedita dolore, dolor consectetur vitae similique, sed omnis recusandae quia cumque molestiae officiis consequatur dicta doloremque neque ducimus aut quas quidem!
  <img src="/qr/234-089-a.png" alt="">
</body>


        

</html>