<%- include menu.ejs%>

  <form action="/upload2" method="post" enctype="multipart/form-data">	
	<input type="text" name="name">
	<input type="file" name="images">
	<input type="submit" value="enviar">
  </form>


        

</html>